  .container {
    padding: 12 20 20 12;
    border-width: 1;
    border-radius: 32;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .selectLabel {
    font-size: 18;
    font-family: 'SF-Pro-Rounded-Bold';
  }

  .iconContainer {
    margin-left: 8;
    justify-content: center;
    align-items: center;
    height: 20;
    width: 20;
  }